version: "3"
services:
  zookeeper:
    image: debezium/zookeeper
    # restart: always
    ports:
      - 2181:2181
      - 2888:2888
      - 3888:3888

  kafka:
    image: debezium/kafka
    # restart: always
    ports:
      - 9092:9092
    links:
      - zookeeper
    environment:
      - ZOOKEEPER_CONNECT=zookeeper:2181
  
  kafdrop:
    image: obsidiandynamics/kafdrop
    # restart: "always"
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:9092"
      JVM_OPTS: "-Xms300M -Xmx512M -Xss180K -XX:-TieredCompilation -XX:+UseStringDeduplication -noverify"
    depends_on:
      - "kafka"
    links:
      - kafka

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:${ELK_VERSION}
    # restart: always
    ports:
      - 9200:9200
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - xpack.security.authc.api_key.enabled=false
      - ELASTIC_PASSWORD=elkstack
      - "ES_JAVA_OPTS=-Xms2048m -Xmx2048m"
  
  kibana:
    image: docker.elastic.co/kibana/kibana:${ELK_VERSION}
    # restart: always
    depends_on: 
      - "elasticsearch"
    ports: 
      - 5601:5601
    environment: 
      - "ELASTICSEARCH_HOSTS=http://elasticsearch:9200"
      - "ELASTICSEARCH_USERNAME=elastic"
      - "ELASTICSEARCH_PASSWORD=elkstack"
      - "TELEMETRY_ENABLED=false"

  connect:
    build: ./debezium-elastic
    ports:
      - 8083:8083
    links:
      - kafka
      - elasticsearch
    environment:
      - BOOTSTRAP_SERVERS=kafka:9092
      - GROUP_ID=1
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - STATUS_STORAGE_TOPIC=my_connect_statuses
      # - DATABASE_URL=postgres://postgres:postgres@db_teste_elk:5432
      